@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
body {
  background-color: burlywood;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
}

button {
  width: 60%;
  margin: 8px;
  margin-left: 20%;
  padding: 12px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
