@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
body {
  background: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

button {
  width: 20%;
  margin: 8px;
  padding: 12px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.container {
  border-radius: 33px;
  background: linear-gradient(145deg, #729057, #88ab68);
  box-shadow: 15px 15px 18px #718e56, -15px -15px 18px #8db26c;
  color: #000;
  padding: 5%;
  width: 40%;
  margin: 0 auto;
  margin-top: 15%;
}

@media only screen and (max-width: 600px) {
  body {
    color: black;
    background-color: #729057;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: #718e56;
    height: max-content;
    width: fit-content;
  }

  button {
    width: 35%;
  }
}
